* {
    padding: 0;
    margin: 0;
}

.canvas_conteiner {
    display: block;
    position: absolute;
}

.menu {
    position: absolute;
    top: 20px;
    left: 50px;
    
}


/* BODY */
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
background: rgb(13,232,241);
background: linear-gradient(62deg, rgba(13,232,241,1) 0%, rgba(98,127,255,1) 51%, rgba(129,20,191,1) 100%);
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
}


/* CLOUDS */
body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-radius: 100%;
    background: transparent;
    display: block;
    z-index: 100;

    box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
        200px 0 200px 150px rgba(255, 255, 255, 0.6),
        -250px 0 300px 150px rgba(255, 255, 255, 0.6),
        550px 0 300px 200px rgba(255, 255, 255, 0.6),
        -550px 0 300px 200px rgba(255, 255, 255, 0.6);
}


/*  123  */

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.more-splash {
    -webkit-animation-name: splash;
    animation-name: splash;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

@-webkit-keyframes splash {
    from {
        box-shadow: 0 0 10px #c78030;
    }

    to {
        box-shadow: 0 0 60px #c78030;
    }
}

@keyframes splash {
    from {
        box-shadow: 0 0 10px #c78030;
    }

    to {
        box-shadow: 0 0 60px #c78030;
    }
}






.menu__button {
    display: block;
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    background: transparent;
    padding: 0 24px;
    font-size: 16px;
    line-height: 52px;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 0.5px;
    z-index: 12;
}

.menu__button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 48px;
    background: transparent;
    border: 2px solid #4AB9F2;
    z-index: -11;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.menu__button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #1f1f6d;
    height: 30px;
    width: 80%;
    z-index: -2;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.menu__button:hover:after {
    opacity: 0;
    background: #4AB9F2;

}

.menu__button:hover {
    color: #fff;

}

.menu__button:hover:before {
    width: 100%;
    background: #4AB9F2;
    box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.2);

}

.anime-button {
    display: block;
    position: relative;
    width: 413px;
    height: 90px;
    cursor: pointer;
    transition: 3s;
    z-index: 10;
}

.anime-button_came-back {
    display: block;
    position: relative;
    width: 480px;
    height: 90px;
    cursor: pointer;
    transition: 3s;
    top: 83%;
}


.conteiner-top {
    display: block;
    position: relative;
    background-color: #1f1f6d;
    height: 100vh;
    width: 100vw;
    z-index: -22;

}

.content-top {
    display: block;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
    background-color: #1f1f6d;
}

.menu-top {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}


.info-top {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #1f1f6d;
    margin-top: 150px;
}

.info__block {
    display: block;
    position: relative;
    min-width: 100%;

}


.info__block__haeder__flax {
    display: flex;
    position: relative;
    justify-content: space-between;
    min-width: 100%;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-height: 500px;
    padding: 50px;
}

img {
    display: block;
    position: relative;
    width: 100%;
    max-height: 400px;
}


.info__block__haeder-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 50%;
    max-height: 500px;
    color: white;
    font-size: 24px;
}

.info__block__haeder {
    display: block;
    position: absolute;
    min-height: 10%;
    min-width: 100%;
    color: white;
    font-size: 32px;
    margin-bottom: 50px;
}

.info__block__haeder::before {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 5px;
    top: 40px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.social {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 500px;
    top: 15vw;

}

.social__menu {
    position: relative;
    display: block;
    width: 100px;
    height: 500px;
    background-color: chocolate;
    transition: 1s ease;
}

.social__menu-right {
    right: -100px;
}

.social__button {
    position: relative;
    display: block;
    top: 25%;
    width: 50px;
    height: 200px;
    background-color: rgb(43, 78, 9);
    cursor: pointer;
    transition: 1s ease;
}